<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                           https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd"
       bean-discovery-mode="all" version="4.0">
    <!--
      Declare @Priority interceptors here. Global priority ordering in
      Jakarta Interceptors is controlled via @Priority, and enabling a
      @Priority interceptor is implicit, but we list it to be explicit.
    -->
    <interceptors>
        <class>org.ejblab.banking.l11.RetryInterceptor</class>
    </interceptors>
</beans>
